Port 22
Protocol 2

# =========================
# AUTHENTICATION
# =========================
PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
UsePAM yes
AuthenticationMethods publickey
AllowUsers {{ sshd_users }}

# =========================
# CRYPTO HARDENING
# =========================
KexAlgorithms curve25519-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com
HostKeyAlgorithms ssh-ed25519

# =========================
# SESSION SECURITY
# =========================
ClientAliveInterval 300
ClientAliveCountMax 2
LoginGraceTime 30
MaxAuthTries 3
MaxSessions 3

# =========================
# LOGGING
# =========================
LogLevel VERBOSE

# =========================
# FORWARDING / FEATURES
# =========================
X11Forwarding no
AllowTcpForwarding no
AllowAgentForwarding no
PermitTunnel no
GatewayPorts no

# =========================
# MISC HARDENING
# =========================
PrintMotd no
PrintLastLog yes
TCPKeepAlive no
UseDNS no
StrictModes yes
Compression no

# =========================
# SFTP
# =========================
# Subsystem sftp internal-sftp
# Subsystem sftp /usr/lib/openssh/sftp-server
