- name: Install iptables
  block:
    - name: Deploy iptables rules
      template:
        src: ./iptables.rules
        dest: /etc/iptables.rules
        mode: "0600"
      notify: restore_iptables

    - name: Install iptables restore systemd service
      copy:
        src: ./iptables-restore.service
        dest: /etc/systemd/system/iptables-restore.service
        mode: "0644"

    - name: Enable iptables restore service
      systemd:
        name: iptables-restore
        enabled: true
        daemon_reload: true

    - name: Disable IPv6 (all)
      sysctl:
        name: "{{ item }}"
        value: "1"
        state: present
        reload: true
      loop: "{{ ipv6_sysctl }}"
