- name: Config nginx sites

  block:
    - name: Deploy site configurations
      template:
        src: "{{ item.template }}"
        dest: "/etc/nginx/conf.d/{{ item.name }}.conf"
        owner: www-data
        group: www-data
      loop: "{{ nginx_sites }}"

    - name: Deploy config snippets
      copy:
        src: "./snippets/"
        dest: "/etc/nginx/snippets/"
        owner: www-data
        group: www-data

    - name: Copying HTML assets
      copy:
        src: "./html/"
        dest: "/var/www/html/"
        owner: www-data
        group: www-data
      notify: reload_nginx

    - name: Deploy main configuration
      template:
        dest: "/etc/nginx/nginx.conf"
        src: "./nginx.conf"
        owner: www-data
        group: www-data
      notify: reload_nginx
