- name: Run Rootless Installation
  become: yes
  become_user: "{{ docker_user }}"
  # TODO: check if this is needed
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ docker_uid }}"
    DBUS_SESSION_BUS_ADDRESS: "unix:path=/run/user/{{ docker_uid }}/bus"
  block:
    - name: Create environment configuration directory
      file:
        path: "~/.config/environment.d"
        state: directory
        mode: "0700"

    - name: Set DOCKER_HOST environment variable
      lineinfile:
        path: "~/.config/environment.d/docker.conf"
        line: "DOCKER_HOST=unix:///run/user/{{ docker_uid }}/docker.sock"
        create: yes

    - name: Run Docker rootless installation script
      command: dockerd-rootless-setuptool.sh install
      args:
        creates: ~/.config/systemd/user/docker.service

    - name: Ensure systemd user instance is notified and service started
      systemd:
        name: docker
        scope: user
        state: started
        enabled: yes
        daemon_reload: yes
